<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- // jQuery -->
    <!-- bootstrap -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- // bootstrap -->
</head>
<body>
<div class="container-fluid">
    <!-- 제목 -->
    <div class="page-header">
        <h1 class="text-center">Admin dashboard</h1>
    </div>
    <!-- // 제목 -->
    <table class="table">
        <caption>clients</caption>
        <thead>
        <tr>
            <th>client id</th>
            <th>client secret</th>
            <th>redirect uri</th>
            <th>username</th>
<!--            <th>grant types</th>-->
        </tr>
        </thead>
        <tbody id="clients_table">
        <tr th:each="client: ${clients}">
            <td th:text="${client.clientId}"></td>
            <td th:text="${client.clientSecret}"></td>
            <td th:text="${client.redirectUri}"></td>
            <td th:text="${client.username}"></td>
<!--            <td th:text="${client.grantTypes}"></td>-->
        </tr>
        </tbody>
    </table>
    <!-- 페이저 -->
    <nav>
        <ul th:if="${clients.totalPages > 1}" class="pager">
            <li th:class="${clients.number} == 0 ? 'disabled'">
                <a class="btn_paging" data-kind="clients" th:data-page="${clients.number} - 1" id="clients_prev_btn"><span aria-hidden="true">&larr;</span> Newer </a>
            </li>
            <li th:class="${clients.number + 1 == clients.totalPages} ? 'disabled'">
                <a class="btn_paging" data-kind="clients" th:data-page="${clients.number} + 1" id="clients_next_btn"> Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
    <!-- // 페이저 -->
    <hr>
    <table class="table">
        <caption>authorization codes</caption>
        <thead>
        <tr>
            <th>code</th>
            <th>client id</th>
            <th>username</th>
            <th>redirect uri</th>
            <th>expired at</th>
            <th>created at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="authorizationCode: ${authorizationCodes}">
            <td th:text="${authorizationCode.code}"></td>
            <td th:text="${authorizationCode.clientId}"></td>
            <td th:text="${authorizationCode.username}"></td>
            <td th:text="${authorizationCode.redirectUri}"></td>
            <td th:text="${authorizationCode.expiredAt}"></td>
            <td th:text="${authorizationCode.createdAt}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이저 -->
    <nav>
        <ul th:if="${authorizationCodes.totalPages > 1}" class="pager">
            <li th:class="${authorizationCodes.number} == 0 ? 'disabled'">
                <a class="btn_paging" data-kind="authorizationCodes" th:data-page="${authorizationCodes.number} - 1" id="authorizationCodes_prev_btn"><span aria-hidden="true">&larr;</span> Newer </a>
            </li>
            <li th:class="${authorizationCodes.number + 1 == authorizationCodes.totalPages} ? 'disabled'">
                <a class="btn_paging" data-kind="authorizationCodes" th:data-page="${authorizationCodes.number} + 1" id="authorizationCodes_next_btn"> Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
    <!-- // 페이저 -->
    <hr>
    <table class="table">
        <caption>access tokens</caption>
        <thead>
        <tr>
            <th>token</th>
            <th>client id</th>
            <th>username</th>
            <th>expired at</th>
            <th>created at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="accessToken: ${accessTokens}">
            <td th:text="${accessToken.token}"></td>
            <td th:text="${accessToken.clientId}"></td>
            <td th:text="${accessToken.username}"></td>
            <td th:text="${accessToken.expiredAt}"></td>
            <td th:text="${accessToken.createdAt}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이저 -->
    <nav>
        <ul th:if="${accessTokens.totalPages > 1}" class="pager">
            <li th:class="${accessTokens.number} == 0 ? 'disabled'">
                <a class="btn_paging" data-kind="accessTokens" th:data-page="${accessTokens.number} - 1" id="accessTokens_prev_btn"><span aria-hidden="true">&larr;</span> Newer </a>
            </li>
            <li th:class="${accessTokens.number + 1 == accessTokens.totalPages} ? 'disabled'">
                <a class="btn_paging" data-kind="accessTokens" th:data-page="${accessTokens.number} + 1" id="accessTokens_next_btn"> Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
    <!-- // 페이저 -->
    <hr>
    <table class="table">
        <caption>refresh tokens</caption>
        <thead>
        <tr>
            <th>token</th>
            <th>client id</th>
            <th>username</th>
            <th>access token</th>
            <th>expired at</th>
            <th>created at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="refreshToken: ${refreshTokens}">
            <td th:text="${refreshToken.token}"></td>
            <td th:text="${refreshToken.clientId}"></td>
            <td th:text="${refreshToken.username}"></td>
            <td th:text="${refreshToken.accessToken}"></td>
            <td th:text="${refreshToken.expiredAt}"></td>
            <td th:text="${refreshToken.createdAt}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이저 -->
    <nav>
        <ul th:if="${refreshTokens.totalPages > 1}" class="pager">
            <li th:class="${refreshTokens.number} == 0 ? 'disabled'">
                <a class="btn_paging" data-kind="refreshTokens" th:data-page="${refreshTokens.number} - 1" id="refreshTokens_prev_btn"><span aria-hidden="true">&larr;</span> Newer </a>
            </li>
            <li th:class="${refreshTokens.number + 1 == refreshTokens.totalPages} ? 'disabled'">
                <a class="btn_paging" data-kind="refreshTokens" th:data-page="${refreshTokens.number} + 1" id="refreshTokens_next_btn"> Older <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
    <!-- // 페이저 -->
</div>
<script th:inline="javascript">
    $(function() {
        $('.btn_paging').click(function(e){
            e.preventDefault();
            var kind = $(this).data('kind');
            var page = $(this).data('page');
            var size = /*[[${dashboardPageSize}]]*/ 5;

            $.ajax("/admin/" + kind + "?page=" + page + "&size=" + size)
                .done(function(data) {
                    console.log(data);
                    switch (kind){
                        case "clients" :
                            $("#clients_table").empty();
                            data.content.forEach(function(item){
                                $("#clients_table").append(`
                                    <tr>
                                    <td>${item.clientId}</td>
                                    <td>${item.clientSecret}</td>
                                    <td>${item.redirectUri}</td>
                                    <td>${item.username}</td>
                                    </tr>`);
                            });
                            $("#clients_prev_btn").data('page', data.number - 1);
                            $("#clients_next_btn").data('page', data.number + 1);
                            if(data.first) {
                                $("#clients_prev_btn").parent().addClass('disabled');
                            } else {
                                $("#clients_prev_btn").parent().removeClass('disabled');
                            }
                            if(data.last) {
                                $("#clients_next_btn").parent().addClass('disabled');
                            } else {
                                $("#clients_next_btn").parent().removeClass('disabled');
                            }
                            break;
                        default :
                            console.log("default");
                    }
                })
                .fail(function() {
                    alert("요청 실패");
                });
        });
    });
</script>
</body>
</html>
